<span id="unlike-<% @post.id %>">
  <%= form_for(@post.likes.find_by(liker_id: current_user.id),
              html: {method: :delete}, remote: true) do |f| %>
   <%= f.submit "Unlike", class: "button" %>
  <% end %>
</span>
