<span id="unlike-<%= post.id %>">
  <%= form_for(post.likes.find_by(liker_id: current_user.id),
              html: {method: :delete}
              #, remote: true
              ) do |f| %>
    <%= button_tag( :class => "button") do %>
      <i class="fa fa-heart"></i> Unlike
    <% end %>
  <% end %>
</span>
